.deleteIconButton {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.content {
  width: 332px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header {
  color: var(--color-main-600);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;

  .title {
    @mixin typo-heading1;
  }

  .description {
    @mixin typo-body2;
  }
}

.deleteButton {
  width: 118px;
}
