.sectionContainer {
  padding: 40px 40px;
  min-height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  &:last-child {
    padding-bottom: 80px;
  }
}
