.triggerButton {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    color: var(--Basic-Gray_text, #484848);
    text-align: center;
    paint-order: stroke fill;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--Basic-white, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 21.6px */
    letter-spacing: -0.32px;
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.header {
  margin-top: 28px;
  @mixin typo-heading1;
  color: var(--Purple-Purple_text, #512985);
}

.title {
  margin-top: 8px;
  font-family: var(--font-DungGeunMo);
  text-align: center;
  color: var(--Purple-Purple_text, #512985);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -1.44px;
}

.photoBookCover {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  /* 원본 비율 대략 맞춰줌 (이미지 비율에 맞게 수정해도 됨) */
  aspect-ratio: 716 / 416;
}

.balloonLeft {
  position: absolute;
  width: 28px;
  top: -24px;
  left: 3%;
}
.balloonRight {
  position: absolute;
  width: 28px;
  top: -24px;
  right: 3%;
}
/* 안쪽에 사진 두 칸 */
.photoGrid {
  position: absolute;

  inset: 5% 5% 5% 5%; /* 필요시 숫자 살짝씩 조절하면 됨 */

  /* 프레임 안쪽 여백 (상/우/하/좌) */

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6%; /* 가운데 여백 */

  align-items: stretch;
}

.photoSlot {
  margin: 0;
  border-radius: 6px; /* 포토북 안의 사진 radius */
  overflow: hidden;
}

.photoImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover; /* 네모 안에 꽉 차게, 잘리는 건 허용 */
}

.contents {
  padding: 0px 12px;
  display: flex;
  justify-content: space-between;

  .item {
    flex: 1;
    color: var(--Purple-Purple_text, #512985);
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      .relation {
        @mixin typo-body2;
      }
      .name {
        @mixin typo-heading2;
      }
    }

    .message {
      @mixin typo-body2;
    }
  }
}
