.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dateRow {
  display: flex;
  align-items: center;
  gap: 2px;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 30px;
  border-radius: 5.4px;
  background: var(--color-sub-500);
  box-shadow:
    2.7px 3.6px 3.6px 0 rgba(144, 186, 241, 0.25) inset,
    0 -1.8px 1.8px 0 rgba(255, 255, 255, 0.6) inset,
    0 0 1.8px 0 rgba(255, 255, 255, 0.5) inset;

  color: #fff;
  font-size: 24px;
  font-family: var(--font-DungGeunMo);
}

.separator {
  color: var(--color-sub-600);
  text-align: center;
  font-family: var(--font-DungGeunMo);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.44px;
}

.timeText {
  margin-top: 16px;
  color: var(--color-sub-600);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  word-break: keep-all;
}
