.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dateRow {
  display: flex;
  align-items: center;
  gap: 2px;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 30px;
  border-radius: 5.4px;
  background: #95aeff;
  box-shadow:
    2.7px 3.6px 3.6px 0 rgba(144, 186, 241, 0.25) inset,
    0 -1.8px 1.8px 0 rgba(255, 255, 255, 0.6) inset,
    0 0 1.8px 0 rgba(255, 255, 255, 0.5) inset;

  color: #fff;
  font-size: 24px;
  font-family: var(--font-DungGeunMo);
}

.separator {
  color: #76a3ff;
  text-align: center;
  font-family: var(--font-DungGeunMo);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1.44px;
}

.timeText {
  font-family: var(--font-DungGeunMo);
  margin-top: 16px;
  color: #6aa3ff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  word-break: keep-all;
}

.dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #78a9ff;
}

.dotTop {
  top: 16px;
}

.dotBottom {
  bottom: 16px;
}

.dotLeft {
  left: 16px;
}

.dotRight {
  right: 16px;
}

.balloon {
  position: absolute;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(93, 117, 244, 0.25));
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
.balloonLeft {
  top: -16px;
  left: 10px;
}

.balloonRight {
  top: -16px;
  right: 10px;
  transform: scaleX(-1);
}
