.intro {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
}

.video {
  width: 100%;
  height: 100%;
}

.contents {
  @mixin typo-heading3;
  color: #faffde;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 33%;
  .couple {
    display: flex;
    align-items: center;
  }

  .heart {
    color: #faffde;
  }
}
