.wrapper {
  color: var(--color-main-600);
  border-radius: 16px;
  border: 1px solid var(--color-basic-white50);
  background: var(--color-sub-300);
  box-shadow: var(--box-shadow-main);
  padding: 12px;
  width: calc(100% - 24px);
}

.boxWrapper {
  width: 100%;
}
.box {
  gap: 20px;
  width: 100%;
}

.title {
  color: var(--color-main-600);
  text-align: center;
  @mixin typo-heading3;
}

.message {
  text-align: center;
  @mixin typo-body2;
  white-space: pre-line;
}

.coupleMinime {
  margin-top: 28px;
  margin-bottom: 8px;
}

.couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-family: var(--font-DungGeunMo);
  letter-spacing: -1.28px;
  .name {
    font-family: var(--font-PyeongChang);
    display: flex;
    align-items: center;
    gap: 6px;

    span:last-child {
      @mixin typo-heading1;
    }
  }
}

.pixelHeart {
  margin: 6px 0;
}
