.wrapper {
  color: var(--Purple-Purple_text, #512985);
  border-radius: 16px;
  border: 1px solid var(--basic-white-05, rgba(255, 255, 255, 0.5));
  background: var(--Blue-Blue02, #c2e4ff);
  box-shadow:
    0 4px 4px 0 rgba(176, 196, 255, 0.3) inset,
    0 -2px 12px 2px rgba(51, 48, 255, 0.1) inset;
  padding: 12px;
  width: calc(100% - 24px);
}

.boxWrapper {
  width: 100%;
}
.box {
  gap: 20px;
  width: 100%;
}

.title {
  color: var(--Purple-Purple_text, #512985);
  text-align: center;
  @mixin typo-heading3;
}

.message {
  text-align: center;
  @mixin typo-body2;
  white-space: pre-line;
}

.coupleMinime {
  margin-top: 28px;
  margin-bottom: 8px;
}

.couple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-family: var(--font-DungGeunMo);
  letter-spacing: -1.28px;
  .name {
    font-family: var(--font-PyeongChang);
    display: flex;
    align-items: center;
    gap: 6px;

    span:last-child {
      @mixin typo-heading1;
    }
  }
}

.pixelHeart {
  margin: 6px 0;
}
