:root {
  --color-primary-base: #a696ea;
  --color-primary-strong: #7f6dd9;
  --color-primary-soft: #c3b6f3;
  --color-primary-text: #512985;
  --color-primary-desc: #967eb6;
  --color-primary-contrast: #ffffff;

  --color-primary-accent: #95aeff;
  --color-primary-border: #aca4ff;
  --color-primary-medium: #7871c2;

  --color-primary-bg-light: #ebe9ff;
  --color-primary-bg-pale: #f0e6ff;

  --color-disabled: #d5d2f6;

  /* Sub Colors */
  --color-sub-bg: #c2e4ff;
  --color-sub-bg-light: #ebf6ff;
  --color-sub-border: #a7d1ff;
  --color-sub-text: #76a3ff;
  --color-sub-accent: #95aeff;

  --button-radius: 8px;
  --button-font-weight: 700;
  --button-shadow: 0 8px 18px rgba(84, 64, 171, 0.25);
  --button-inset-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.55);

  --icon-button-radius: 18px;
  --icon-button-hover-bg: rgba(149, 174, 255, 0.2);
  --icon-button-shadow: 0 6px 12px rgba(81, 41, 133, 0.25);
}
