:root {
  --font-weight-bold: 700;

  --font-size-22: 22px;
  --line-height-22: 28px;
  --letter-spacing-22: -0.03em;

  --font-size-18: 18px;
  --line-height-18: 24px;
  --letter-spacing-18: -0.03em;

  --font-size-16: 16px;
  --line-height-16: 22px;
  --letter-spacing-16: -0.04em;

  --font-size-14: 14px;
  --line-height-14: 20px;
  --letter-spacing-14: -0.04em;

  --font-size-13: 13px;
  --line-height-13: 16px;
  --line-height-13-multi: 19px;
  --line-height-13-heading: 15px;
  --letter-spacing-13: -0.04em;

  --font-size-12: 12px;
  --line-height-12: 14px;
  --letter-spacing-12: -0.05em;
}

/* mixins (postcss-mixins) */

@define-mixin font-bold {
  font-weight: var(--font-weight-bold);
}

@define-mixin font-22 {
  font-size: var(--font-size-22);
  line-height: var(--line-height-22);
  letter-spacing: var(--letter-spacing-22);
}

@define-mixin font-18 {
  font-size: var(--font-size-18);
  line-height: var(--line-height-18);
  letter-spacing: var(--letter-spacing-18);
}

@define-mixin font-16 {
  font-size: var(--font-size-16);
  line-height: var(--line-height-16);
  letter-spacing: var(--letter-spacing-16);
}

@define-mixin font-14 {
  font-size: var(--font-size-14);
  line-height: var(--line-height-14);
  letter-spacing: var(--letter-spacing-14);
}

@define-mixin font-13 {
  font-size: var(--font-size-13);
  line-height: var(--line-height-13);
  letter-spacing: var(--letter-spacing-13);
}

@define-mixin font-13-multi {
  font-size: var(--font-size-13);
  line-height: var(--line-height-13-multi);
  letter-spacing: var(--letter-spacing-13);
}

@define-mixin font-13-heading {
  font-size: var(--font-size-13);
  line-height: var(--line-height-13-heading);
}

@define-mixin font-12 {
  font-size: var(--font-size-12);
  line-height: var(--line-height-12);
  letter-spacing: var(--letter-spacing-12);
}

/* role mixins */
@define-mixin typo-heading1 {
  @mixin font-bold;
  @mixin font-22;
}

@define-mixin typo-heading2 {
  @mixin font-bold;
  @mixin font-18;
}

@define-mixin typo-heading3 {
  @mixin font-bold;
  @mixin font-16;
}

@define-mixin typo-heading4 {
  @mixin font-bold;
  @mixin font-14;
}
@define-mixin typo-heading5 {
  @mixin font-bold;
  @mixin font-13-heading;
}

@define-mixin typo-body1 {
  @mixin font-16;
}

@define-mixin typo-body2 {
  @mixin font-14;
}

@define-mixin typo-desc1-single {
  @mixin font-13;
}

@define-mixin typo-desc1-multi {
  @mixin font-13-multi;
}

@define-mixin typo-desc2 {
  @mixin font-12;
}
