/* 전역 스타일 및 스크롤 숨김 */

html,
body,
#root {
  min-width: 375px;
  min-height: 100vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  background: #fff;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: #222;
}

main {
  margin-top: 67px;
}

body::-webkit-scrollbar {
  display: none;
}
