.sprite {
  display: inline-flex;
  pointer-events: none;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-color: transparent;
  filter: drop-shadow(0 6px 6px rgba(19, 19, 19, 0.2));
}

.sprite[data-interactive='true'] {
  pointer-events: auto;
  cursor: pointer;
}
