.title {
  color: var(--Purple-Purple_text, #512985);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 153%; /* 36.72px */
  letter-spacing: -0.24px;

  margin: 16px 0px;
}

.bottomSheetContent {
  display: flex;
  flex-direction: column;
}

.guestBookList {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.buttonAllView {
  color: var(--Purple-Purple04, #7871c2);
  text-align: right;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.96px;
}

.guestBookItem {
  position: relative;
  display: flex;
  padding: 8px 12px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  border-radius: 12px;
  border: 1px solid var(--Basic-white, #fff);
  background: var(--Blue-Blue01, #ebf6ff);
  box-shadow:
    0 4px 4px 0 rgba(176, 196, 255, 0.3) inset,
    0 -2px 12px 2px rgba(51, 48, 255, 0.1) inset;

  .miniMe {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .guestBook {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px 0;
    @mixin typo-desc2;
    .content {
      color: var(--Purple-Purple_text, #512985);
    }

    .from {
      color: var(--Purple-Purple_text, #512985);
    }
  }
}

.empty {
  display: flex;
  width: 100%;
  height: 120px;

  justify-content: center;
  align-items: center;

  border-radius: 12px;
  border: 1px solid var(--Basic-white, #fff);
  background: var(--Blue-Blue01, #ebf6ff);
  box-shadow:
    0 4px 4px 0 rgba(176, 196, 255, 0.3) inset,
    0 -2px 12px 2px rgba(51, 48, 255, 0.1) inset;

  color: var(--Purple-Purple04, #7871c2);
  text-align: center;
  @mixin typo-desc2;
}

.totalButton {
  min-height: 20px !important;
  border-bottom: 2px solid var(--Purple-Purple04, #7871c2);
  border-radius: 0 !important;
}

.trashIcon {
  color: var(--Purple-Purple02, #aca4ff);
}
