.summary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryTable {
  width: 100%;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-radius: 14px;

  border: 1px solid var(--Blue-Blue03, #a1ceff);

  overflow: hidden;
}

.summaryCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 118px;
  color: var(--Blue-Blue03, #a1ceff);
  opacity: 0.89;
}

.summaryCellHighlight {
  color: var(--color-primary-base, #a696ea);
  opacity: 1;
}

.summaryDayName {
  @mixin typo-desc2;
  width: 100%;
  text-align: center;
  font-family: var(--font-PyeongChang);
  background-color: #fff;
  border-bottom: 1px solid #c2e4ff;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
}

.summaryDayDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 8px;
  justify-content: center;
  background-color: #fff;
}

.summaryDayNumber {
  text-align: center;
  font-family: var(--font-DepartureMono);
  font-size: 36px;
  letter-spacing: -11%;
  line-height: 44px;
  font-weight: 400;
}

.summaryDayNote {
  @mixin typo-desc2;

  text-align: center;

  word-break: keep-all;
  min-height: 1.4em;
}
