.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.calendarBox {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--basic-white-05, rgba(255, 255, 255, 0.5));
  background: var(--color-sub-400) !important;
  box-shadow:
    0 4px 4px 0 rgba(176, 196, 255, 0.3) inset,
    0 -2px 12px 2px rgba(51, 48, 255, 0.1) inset;
}

.calendar {
  --bg: #ffffff;
  --ink: #ffffff;
  --muted: #8a8a8a;
  --grid: #e9ecef;
  --accent: #111111;
  --accent-ink: #ffffff;

  color: var(--ink);
  overflow: hidden;
  user-select: none;
}

.header {
  @mixin typo-heading1;
  text-align: center;
  margin-bottom: 12px;
}

.grid {
  padding: 8px 12px 12px;
}

.weekHead,
.week {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekHead {
  margin-bottom: 6px;
  padding: 0 6px;
}

.weekday {
  @mixin typo-heading3;
  text-align: center;
}

.weeks {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.week {
  gap: 4px;
  padding: 0 2px;
}

.cell {
  position: relative;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 10px;
  transition: transform 0.05s ease;
}

.cellOut {
  opacity: 1;
  pointer-events: none;
}

.cellSunday .day {
  color: var(--sun);
}

.cellSaturday .day {
  color: var(--sat);
}

.cell:hover {
  transform: translateY(-1px);
}

.day {
  @mixin typo-body1;
  color: var(--color-basic-white, #fff);
  z-index: 1;
  text-align: center;
}

.cellOut .day {
  color: var(--color-sub-600);
}

.dayMarker {
  display: block;
}

.cellSelected .dayMarker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  background-color: var(--color-sub-500);
  border: 1px dashed var(--color-basic-white);
  border-radius: 50%;
  box-sizing: border-box;
}

.cellSelected .day {
  color: var(--accent-ink, #fff);
}
