.header {
  width: 100%;
  position: fixed;
  top: 13px;
  z-index: 100;
  left: 10px;
  display: flex;
  justify-content: center;
}
.header nav {
  display: flex;
  gap: 0px;
}

.header nav > :not(:first-child) {
  margin-left: -4px;
}

.header button {
  @mixin typo-heading4;
  color: #f9f9f9;
  border-radius: 12px 12px 0 0;
  background: var(--color-primary-base);
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.25);

  width: 72px;
  height: 37px;
  box-sizing: content-box;
  transition: background-color 0.3s ease;
}
.header button.active {
  color: var(--color-primary-text);
  background: #cbe7fed6;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  box-shadow: none;
}

.header button.active,
.header button:hover {
  /* z-index: 1; */
}

nav[data-at-top='false'] button.active {
  background: linear-gradient(180deg, #cbe7fed6 0%, #fff 100%);
}
