.header {
  width: 100%;
  position: fixed;
  top: calc(50px - 37px);

  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.header nav {
  display: flex;
  gap: 0px;
}

.header nav > :not(:first-child) {
  margin-left: -8px;
}

.header button {
  @mixin typo-heading4;
  color: #f9f9f9;
  border-radius: 12px 12px 0 0;
  background: #a696ea;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.25);

  width: 72px;
  height: 37px;
  box-sizing: content-box;
}
.header button.active {
  color: #623f99;
  background: #ffffff80;
  box-shadow: none;
}

.header button.active,
.header button:hover {
  z-index: 10;
}
