.wrapper {
  width: 100%;
  .header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 36px;

    .title {
      @mixin typo-heading2;
      color: var(--color-primary-text);
      text-align: center;
    }

    .description {
      @mixin typo-body2;
      display: flex;
      flex-direction: column;
      color: var(--color-primary-text);
      text-align: center;
    }
  }
}

.content {
}
.box {
  align-items: flex-start;
  width: 100%;
  padding: 20px 32px;
}

.accordion {
  border-top: 1px dashed #8fc5fffc;

  .accordionItem {
    border-bottom: 1px dashed #8fc5fffc;
  }
}
.trigger {
  width: 100%;
  margin: 16px 0 8px;
  padding: 12px 16px;
}
.triggerContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.triggerInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary-text);
}

.triggerLabel {
  @mixin typo-heading4;
  color: var(--color-primary-text);
  text-align: center;
}

.accountList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.accountRelation {
  @mixin typo-desc2;
  padding: 2px 6px;
  color: var(--color-primary-text);

  border-radius: 4px;
  background: var(--color-primary-bg-light);
  align-self: flex-start;
  margin-bottom: 12px;
}

.accountOwner {
  @mixin typo-heading3;
  color: var(--color-primary-text);
}

.accountDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.accountDetailValue {
  @mixin typo-desc2;
  color: var(--color-primary-text);
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer {
  margin-top: 20vh;
  color: var(--color-primary-text);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.12px;
}
