.wrapper {
  width: 100%;
  .header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;

    .title {
      @mixin typo-heading2;
      color: #512985;
      text-align: center;
    }

    .description {
      @mixin typo-body2;
      display: flex;
      flex-direction: column;
      color: #512985;
      text-align: center;
    }
  }
}

.content {
  padding-bottom: 24px;
}
.box {
  align-items: flex-start;
  width: 100%;
}

.accordion {
  border-top: 2px dashed #8fc5fffc;

  .accordionItem {
    border-bottom: 2px dashed #8fc5fffc;
  }
}
.trigger {
  width: 100%;
  margin: 16px 0 8px;
  padding: 12px 16px;
}

.triggerInner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #512985;
}

.triggerLabel {
  @mixin typo-heading4;
  color: #512985;
  text-align: center;
}

.accountList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.accountRelation {
  @mixin typo-desc2;
  padding: 2px 6px;
  color: #512985;

  border-radius: 4px;
  background: #ebe9ff;
  align-self: flex-start;
  margin-bottom: 12px;
}

.accountOwner {
  @mixin typo-heading3;
  color: #512985;
  margin-bottom: 4px;
}

.accountDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.accountDetailValue {
  @mixin typo-desc2;
  color: #512985;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer {
  margin-top: 20vh;
  color: #512985;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  letter-spacing: -0.12px;
}
