.triggerButton {
  width: 215px;
}
.sheetContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 32px;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.title {
  @mixin typo-heading3;
  color: var(--color-main-600);

  text-align: center;
}

.description {
  @mixin typo-body2;
  color: var(--color-main-600);
  text-align: center;
}

.boxWrapper {
  width: 100%;
}
.boxInner {
  width: 100%;
  justify-content: space-around;
}

.miniGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  padding: 8px 0;
}

.miniButton {
  position: relative;
  border: none;
  background: transparent;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 200ms ease,
    opacity 200ms ease,
    box-shadow 200ms ease;
}

.miniButton[data-dimmed='true'] {
  opacity: 0.4;
}

.miniHeart {
  width: 11px !important;
  height: 10px !important;
  position: absolute !important;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -90%);
  color: var(--color-main-300);
  opacity: 0;
  transition: opacity 200ms ease;
}

.miniButton[data-selected='true'] .miniHeart {
  opacity: 1;
}

.pageDots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0;
}

.dotButton {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  border: none;
  background: var(--color-main-100);
}

.dotButton[data-active='true'] {
  width: 8px;
  background: var(--color-main-500);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.backButton {
  color: var(--color-basic-black);
  font-weight: 600;
  margin-top: -4px;
}

.selectedPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.fieldList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  position: relative;
}

.charCounter {
  position: absolute;
  bottom: 12px;
  right: 12px;
  @mixin typo-body2;
}

.boxBody {
  width: 100%;
}
