.main {
  display: flex;
  gap: 10px;
  position: relative;
  background: url('/assets/images/bg-blue.png') center / cover no-repeat;
}

.decorator {
  width: 12px;
  background-color: #fff;
  height: 100vh;
  position: sticky;
  top: 99px;
  left: 0;
  box-shadow: 0px 4px 20px 0px #0000001a;
  backdrop-filter: blur(4px);
  border-radius: 0px 16px 0px 0px;
}

.mainWrapper {
  flex: 1;
  max-height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 50px;
  box-shadow: 0px -4px 12px 0px #0000001a;

  border-radius: 16px 0 0 0;
  backdrop-filter: blur(5px);
  padding-bottom: 50px;
  position: relative;
}

.blur {
  height: 30px;
  position: sticky;
  top: -2px;
  z-index: 2;
  opacity: 0;
  transition: opacity 220ms ease;
  pointer-events: none;
}

.mainWrapper[data-at-top='false'] .blur {
  opacity: 1;
}

.mainWrapper::-webkit-scrollbar {
  display: none;
}

.springTop {
  position: absolute;
  top: 100px;
  left: -5px;
  width: 50px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}

.springBottom {
  position: absolute;
  bottom: 100px;
  left: -5px;
  width: 50px;
  pointer-events: none;
  user-select: none;
  z-index: 1;
}
