.direction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  @mixin typo-heading1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #512985;
}

.weddinghallInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hallName {
    @mixin typo-heading4;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #512985;
    text-align: center;
  }

  .address {
    @mixin typo-body2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #512985;
    text-align: center;
  }
}

.linkButton {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.transportationList {
  display: flex;
  flex-direction: column;
  border-top: 2px dashed #a7d1ff;
  margin-top: 24px;

  .transportation {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    border-bottom: 2px dashed #a7d1ff;

    .title {
      @mixin typo-heading2;
      display: flex;
      flex-direction: row;
      gap: 6px;
    }

    .block {
      width: 6px;
      height: 6px;
      background: #7a6cff;
      margin-top: 6px;
      flex-shrink: 0;
    }

    .description {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .info {
      display: flex;
      gap: 8px;
      align-items: flex-start;
    }

    .descriptionText {
      @mixin typo-body2;
      color: var(--Purple-Purple_text, #512985);
    }

    .subDescriptionText {
      @mixin typo-body2;
      font-family: var(--font-Wanted-Sans);
      color: var(--Purple-Purple_desc, #967eb6);
    }
  }
}
