.direction {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.mainTitle {
  @mixin typo-heading1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #512985;
  margin-bottom: 18px;
}

.weddinghallInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;

  .hallName {
    @mixin typo-heading4;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #512985;
    text-align: center;
  }

  .address {
    @mixin typo-body2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #512985;
    text-align: center;
  }
}

.linkButton {
  margin-top: 16px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.transportationList {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #a7d1ff;

  .transportation {
    padding: 32px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    border-bottom: 1px dashed #a7d1ff;

    .title {
      @mixin typo-heading2;
      display: flex;
      flex-direction: row;
      gap: 6px;
      margin-bottom: 16px;
    }

    .block {
      width: 6px;
      height: 6px;
      background: var(--Purple-Purple_text, #512985);
      margin-top: 6px;
      flex-shrink: 0;
    }

    .description {
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .info {
      display: flex;
      gap: 8px;
      align-items: flex-start;
    }

    .descriptionText {
      @mixin typo-body2;
      color: var(--Purple-Purple_text, #512985);
    }

    .subDescription {
      display: flex;
      gap: 6px;
      align-items: flex-start;
      margin-top: 4px;
    }

    .subDescriptionBullet {
      @mixin typo-body2;
      color: var(--Purple-Purple_desc, #967eb6);
      flex-shrink: 0;
    }

    .subDescriptionText {
      @mixin typo-body2;
      font-family: var(--font-Wanted-Sans);
      color: var(--Purple-Purple_desc, #967eb6);
      flex: 1;
      white-space: pre-line;
    }
  }
}
