.direction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  @mixin typo-heading1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #512985;
}

.weddinghallInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  .hallName {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #512985;
    text-align: center;
    font-size: 14.4px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.144px;
  }

  .address {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #512985;
    text-align: center;

    font-size: 14.4px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.144px;
  }

  .hallDetail {
    color: rgba(81, 41, 133, 0.8);
    font-size: 13px;
    font-weight: 500;
  }
}

.linkButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.transportationList {
  display: flex;
  flex-direction: column;
  border-top: 1px dashed #a7d1ff;

  .transportation {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    border-bottom: 1px dashed #a7d1ff;

    .title {
      @mixin typo-heading2;
      display: flex;
      flex-direction: row;
      gap: 6px;
    }

    .block {
      width: 6px;
      height: 6px;
      background: #7a6cff;
      margin-top: 6px;
      flex-shrink: 0;
    }

    .description {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .info {
      display: flex;
      gap: 8px;
      align-items: flex-start;
    }

    .descriptionText {
      color: #512985;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 140% */
      letter-spacing: -0.15px;
    }

    .subDescriptionText {
      color: #967eb6;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.12px;
    }
  }
}
