.dialog {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px;
  align-items: stretch;
  text-align: center;
  border-radius: 16px;
  width: 350px;
}
.boxWrapper {
  gap: 16px;
  padding: 0px;
  width: 100%;
}

.box {
  padding: 0px;
  width: 100%;
}
.confirm {
  padding: 16px;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  @mixin typo-heading2;
  color: var(--Purple-Purple_text, #512985);
  margin: 0;
}

.message {
  @mixin typo-body2;
  color: var(--Purple-Purple_text, #512985);
  margin: 0;
  line-height: 1.5;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}

.overlay {
  z-index: 2000;
}

.dialog {
  z-index: 2001;
}
