.field {
  color: var(--color-primary-text);
  font-family: var(--font-PyeongChang);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 153%;
  letter-spacing: -0.12px;

  width: 100%;
  border: none;
  border-radius: 16px;
  background: #f2f5ff;
  padding: 14px 16px;
  box-sizing: border-box;
}

.field::placeholder {
  color: var(--color-primary-base);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 153%;
  letter-spacing: -0.12px;
}

.textarea {
  min-height: 120px;
  max-height: 150px;
  resize: none;
}
