.field {
  color: var(--color-main-600);
  font-family: var(--font-PyeongChang);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 153%;
  letter-spacing: -0.12px;

  width: 100%;
  border: none;
  border-radius: 16px;
  background: var(--color-sub-100);
  padding: 14px 16px;
  box-sizing: border-box;
}

.field::placeholder {
  color: var(--color-main-300);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 153%;
  letter-spacing: -0.12px;
}

.field:focus {
  outline: none;
}
.textarea {
  min-height: 120px;
  max-height: 150px;
  resize: none;
}
