.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  fill: currentColor;
}

.sizeSm {
  width: 16px;
  height: 16px;
}

.sizeMd {
  width: 24px;
  height: 24px;
}

.sizeLg {
  width: 32px;
  height: 32px;
}
