.content {
  width: 400px;
  height: 90vh;
  background: #f4faff !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-top: 22px;
}

.title {
  color: var(--color-primary-text, #512985);
  @mixin typo-heading2;
  text-align: center;
}

.desc {
  color: var(--color-primary-text, #512985);
  @mixin typo-body2;
  text-align: center;
}

.tabList {
  display: flex;
  justify-content: space-around;
}

.tab {
  display: flex;
  align-items: center;
  gap: 5.4px;
  --button-plain-color: var(--Basic-Gray02, #d1cbe2);
  color: var(--button-plain-color);

  .name {
    @apply typo-body1;
    text-align: center;
    color: inherit;
  }

  .icon {
    color: var(--Basic-Gray02, #d1cbe2);
  }
  &.active {
    --button-plain-color: var(--Basic-Gray_text, #484848);
    .icon {
      color: var(--color-primary-base, #512985);
    }
  }
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0 8px 24px;
  overflow-y: auto;

  overflow-y: scroll;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex: 1;
}

.contactCard {
  width: 100%;
  min-width: 270px;
}

.contactLabel {
  @mixin typo-desc1-single;
  color: var(--Basic-Gray_text, #484848);
  text-align: center;
}

.contactName {
  color: var(--Basic-Gray_text, #484848);
  @mixin typo-heading1;
  text-align: center;
}

.actionRow {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-top: 16px;
}

.actionButton {
  flex: 1;
  box-shadow: 0 6px 12px rgba(94, 76, 201, 0.2);
}
