.wrapper {
  display: flex;
  position: relative;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;

  &.rect {
    border-radius: 12px;
  }

  &.rounded {
    border-radius: 16px;
  }

  &.hasDecoration {
    padding-top: 60px;
  }

  &.primary {
    border: 1px solid var(--color-basic-white50);
    background: var(--color-sub-300);
    box-shadow: var(--box-shadow-main);
    .dot {
      background: var(--color-sub-500);
    }
  }

  &.secondary {
    border: 1px solid var(--color-basic-white50);
    background: var(--color-sub-200);
    box-shadow: var(--box-shadow-sub);

    .dot {
      background: var(--color-sub-500);
    }
  }

  &.reversed {
    background: #fff;
    border: 0.9px solid rgba(255, 255, 255, 0.5);
    background: #fff;
    box-shadow: var(--box-shadow-sub);
    .dot {
      background: var(--color-sub-500);
    }
  }
  &.plain {
    background: transparent;
    border: none;
    box-shadow: none;
    .dot {
      background: var(--color-sub-500);
    }
  }
}

.dot {
  position: absolute;
  width: 3px;
  height: 3px;
}

.dotTop {
  top: var(--dot-offset, 16px);
}

.dotBottom {
  bottom: var(--dot-offset, 16px);
}

.dotLeft {
  left: var(--dot-offset, 16px);
}

.dotRight {
  right: var(--dot-offset, 16px);
}

.balloon {
  position: absolute;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(93, 117, 244, 0.25));
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
.balloonLeft {
  top: -16px;
  left: 10px;
}

.balloonRight {
  top: -16px;
  right: 10px;
  transform: scaleX(-1);
}

.decoration {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 130px;
  height: 90px;
}
