.wrapper {
  display: flex;
  position: relative;
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 24px;

  &.rect {
    border-radius: 12px;
  }

  &.rounded {
    border-radius: 16px;
  }

  &.hasDecoration {
    padding-top: 60px;
  }

  &.primary {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: var(--color-primary-soft, #c2e4ff);
    box-shadow:
      0 4px 4px 0 rgba(176, 196, 255, 0.3) inset,
      0 -2px 12px 2px rgba(51, 48, 255, 0.1) inset;
    .dot {
      background: var(--color-primary-accent);
    }
  }

  &.secondary {
    border: 1px solid var(--basic-white-05, rgba(255, 255, 255, 0.5));
    background: var(--color-primary-bg-light, #ebf6ff);
    box-shadow: 0 4px 4px 0 rgba(176, 196, 255, 0.3) inset;

    .dot {
      background: var(--color-primary-accent);
    }
  }

  &.reversed {
    background: #fff;
    border: 0.9px solid rgba(255, 255, 255, 0.5);
    background: #fff;
    box-shadow:
      0 3.6px 3.6px 0 rgba(176, 196, 255, 0.3) inset,
      0 -1.8px 10.8px 1.8px rgba(51, 48, 255, 0.1) inset;
    .dot {
      background: #bfbce0;
    }
  }
  &.plain {
    background: transparent;
    border: none;
    box-shadow: none;
    .dot {
      background: var(--color-primary-accent, #95aeff);
    }
  }
}

.dot {
  position: absolute;
  width: 3px;
  height: 3px;
}

.dotTop {
  top: var(--dot-offset, 16px);
}

.dotBottom {
  bottom: var(--dot-offset, 16px);
}

.dotLeft {
  left: var(--dot-offset, 16px);
}

.dotRight {
  right: var(--dot-offset, 16px);
}

.balloon {
  position: absolute;
  width: 20px;
  height: auto;
  filter: drop-shadow(0 4px 6px rgba(93, 117, 244, 0.25));
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
.balloonLeft {
  top: -16px;
  left: 10px;
}

.balloonRight {
  top: -16px;
  right: 10px;
  transform: scaleX(-1);
}

.decoration {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 130px;
  height: 90px;
}
